<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento Facial</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <h1>Reconocimiento Facial</h1>
    </header>

    <main class="container">
        <!-- Sección de subir imagen -->
        <section class="upload-section">
            <h2>Sube una imagen para analizarla</h2>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="image" name="image" accept="image/*" class="input-file">
                <button type="submit" class="btn">Subir imagen</button>
            </form>
        </section>

        <!-- Sección de imagen original -->
        <section class="original-image-section">
            <h2>Imagen Original</h2>
            <div class="image-container">
                <img id="originalImage" src="" alt="Imagen Original">
            </div>
        </section>

        <!-- Sección de historial de imágenes -->
        <section class="historico-images-section">
            <h2>Historial de Imágenes Subidas</h2>
            <div id="historicoImages" class="image-gallery"></div>
        </section>

        <!-- Sección de imágenes procesadas -->
        <section class="processed-images-section">
            <h2>Imágenes Procesadas</h2>
            <div id="processedImages" class="image-gallery"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Reconocimiento Facial. Todos los derechos reservados.</p>
    </footer>

    <!-- Enlace al archivo JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
